NEXT_PUBLIC_API_URL=https://YOUR-BACKEND-VERCEL-DOMAIN.vercel.app/api/v1
NEXT_PUBLIC_API_ORIGIN=https://YOUR-BACKEND-VERCEL-DOMAIN.vercel.app
NEXT_PUBLIC_CUSTOMER_BASE_URL=https://YOUR-FRONTEND-VERCEL-DOMAIN.vercel.app
